@charset "UTF-8";

/*
    em HTML é id  =  em CSS é #
    em HTML é class  =  em CSS é .    
*/

body {
    background-color:#78a7ff;
    font-family: Arial, Helvetica, sans-serif;
}

#principal{
    text-align: center;
    background-color:#001DB6;
    color: white;

}

h1 {
    color: #000f83;
}

h2 {
    color: #002BFF;
}

.basico{
    color: #035c03;
}

.intermediario{
    color: #bdbd07;
}

.avancado{
    color: #a50808;
}

.destaque{
    background-color: rgba(0, 81, 255, 0.650);
}